In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('student-por.csv')
df.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [5]:
df = pd.read_csv('student-por.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [6]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [7]:
pd.options.display.max_columns = None

In [8]:
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11

In [9]:
df['age'] = df['age'].fillna(df['age'].median())

In [10]:
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())

In [11]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [12]:
categorical_columns = df.columns[df.dtypes==object].tolist()
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
hot = ohe.fit_transform(df[categorical_columns])
hot_df = pd.DataFrame(hot.toarray())
hot_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [13]:
print(hot)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 17)	1.0
  (1, 20)	1.0
  :	:
  (647, 27)	1.0
  (647, 29)	1.0
  (647, 31)	1.0
  (647, 33)	1.0
  (647, 35)	1.0
  (647, 38)	1.0
  (647, 40)	1.0
  (647, 41)	1.0
  (648, 1)	1.0
  (648, 3)	1.0
  (648, 4)	1.0
  (648, 7)	1.0
  (648, 9)	1.0
  (648, 13)	1.0
  (648, 17)	1.0
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0

In [14]:
hot

<649x43 sparse matrix of type '<class 'numpy.float64'>'
	with 11033 stored elements in Compressed Sparse Row format>

In [15]:
cold_df = df.select_dtypes(exclude=["object"])
cold_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18.0,4,4,2,2,0,4,3,4,1,1,3,4,0,11,11
1,17.0,1,1,1,2,0,5,3,3,1,1,3,2,9,11,11
2,15.0,1,1,1,2,0,4,3,2,2,3,3,6,12,13,12
3,15.0,4,2,1,3,0,3,2,2,1,1,5,0,14,14,14
4,16.0,3,3,1,2,0,4,3,2,1,2,5,0,11,13,13

In [16]:
from scipy.sparse import csr_matrix
cold = csr_matrix(cold_df)

from scipy.sparse import hstack
final_sparse_matrix = hstack((hot, cold))

final_df = pd.DataFrame(final_sparse_matrix.toarray())
final_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [17]:
from sklearn.base import TransformerMixin 
class NullValueImputer(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        for column in X.columns.tolist():
            if column in X.columns[X.dtypes==object].tolist():
                X[column] = X[column].fillna(X[column].mode())
            else:
                X[column]=X[column].fillna(X[column].median())
        return X

In [18]:
df = pd.read_csv('student-por.csv', sep=';')
nvi = NullValueImputer().fit_transform(df)
nvi.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [19]:
class SparseMatrix(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        categorical_columns= X.columns[X.dtypes==object].tolist()
        ohe = OneHotEncoder() 
        hot = ohe.fit_transform(X[categorical_columns])
        cold_df = X.select_dtypes(exclude=["object"])
        cold = csr_matrix(cold_df)
        final_sparse_matrix = hstack((hot, cold))
        return final_sparse_matrix

In [20]:
sm = SparseMatrix().fit_transform(nvi)
print(sm)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 17)	1.0
  (1, 20)	1.0
  :	:
  (647, 49)	2.0
  (647, 50)	4.0
  (647, 51)	5.0
  (647, 52)	3.0
  (647, 53)	4.0
  (647, 54)	2.0
  (647, 55)	6.0
  (647, 56)	10.0
  (647, 57)	10.0
  (647, 58)	10.0
  (648, 43)	18.0
  (648, 44)	3.0
  (648, 45)	2.0
  (648, 46)	3.0
  (648, 47)	1.0
  (648, 49)	4.0
  (648, 50)	4.0
  (648, 51)	1.0
  (648, 52)	3.0
  (648, 53)	4.0
  (648, 54)	5.0
  (648, 55)	4.0
  (648, 56)	10.0
  (648, 57)	11.0
  (648, 58)	11.0

In [21]:
sm_df = pd.DataFrame(sm.toarray())
sm_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [22]:
df = pd.read_csv('student-por.csv', sep=';')

In [23]:
y = df.iloc[:, -1]
X = df.iloc[:, :-3]

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [26]:
from sklearn.pipeline import Pipeline
data_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix())])
X_train_transformed = data_pipeline.fit_transform(X_train)

In [27]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [28]:
y_train.value_counts()

11    82
10    75
13    58
12    53
14    42
15    36
9     29
16    27
8     26
17    24
18    14
0     10
7      7
19     1
6      1
5      1
Name: G3, dtype: int64

In [29]:
kfold = KFold(n_splits=5, shuffle=True, random_state=2)

In [32]:
def cross_val(model):
    scores = cross_val_score(model, X_train_transformed, y_train, scoring='neg_root_mean_squared_error', cv=kfold)
    rmse = (-scores.mean())
    return rmse

In [33]:
cross_val(XGBRegressor(objective='reg:squarederror'))

2.741839999665511

In [34]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_transformed, y_train, random_state=2)

In [38]:
def n_estimators(model):
    eval_set = [(X_test_2, y_test_2)]
    eval_metric="rmse"
    model.fit(X_train_2, y_train_2, eval_metric=eval_metric, eval_set=eval_set, early_stopping_rounds=100)
    y_pred = model.predict(X_test_2)
    rmse = MSE(y_test_2, y_pred)**0.5
    return rmse

In [39]:
n_estimators(XGBRegressor(n_estimators=5000))

[12:32:57] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:10.6053
Will train until validation_0-rmse hasn't improved in 100 rounds.
[1]	validation_0-rmse:9.62035
[2]	validation_0-rmse:8.74792
[3]	validation_0-rmse:7.97817
[4]	validation_0-rmse:7.28649
[5]	validation_0-rmse:6.68293
[6]	validation_0-rmse:6.15832
[7]	validation_0-rmse:5.68457
[8]	validation_0-rmse:5.2865
[9]	validation_0-rmse:4.91115
[10]	validation_0-rmse:4.61207
[11]	validation_0-rmse:4.34764
[12]	validation_0-rmse:4.12113
[13]	validation_0-rmse:3.92923
[14]	validation_0-rmse:3.77315
[15]	validation_0-rmse:3.63002
[16]	validation_0-rmse:3.49985
[17]	validation_0-rmse:3.40542
[18]	validation_0-rmse:3.31442
[19]	validation_0-rmse:3.24804
[20]	validation_0-rmse:3.18526
[21]	validation_0-rmse:3.14253
[22]	validation_0-rmse:3.09912
[23]	validation_0-rmse:3.06731
[24]	validation_0-rmse:3.0333
[25]	validation_0-rmse:3.00953
[26]	validation_0-rmse:3.00332
[27]	validation_0-rmse:2.98686
[28]	validation_0-rmse:2.96959
[29]	validation_0-rmse:2.95592
[30]	validation_0-rmse:2.95118
[31]	validation_0-rmse:2.94563
[32]	validation_0-rmse:2.94282
[33]	validation_0-rmse:2.93702
[34]	validation_0-rmse:2.92993
[35]	validation_0-rmse:2.92848
[36]	validation_0-rmse:2.93004
[37]	validation_0-rmse:2.92545
[38]	validation_0-rmse:2.92182
[39]	validation_0-rmse:2.92166
[40]	validation_0-rmse:2.92077
[41]	validation_0-rmse:2.92219
[42]	validation_0-rmse:2.92174
[43]	validation_0-rmse:2.92105
[44]	validation_0-rmse:2.91152
[45]	validation_0-rmse:2.91074
[46]	validation_0-rmse:2.90619
[47]	validation_0-rmse:2.90808
[48]	validation_0-rmse:2.906
[49]	validation_0-rmse:2.90456
[50]	validation_0-rmse:2.90509
[51]	validation_0-rmse:2.90666
[52]	validation_0-rmse:2.90496
[53]	validation_0-rmse:2.90844
[54]	validation_0-rmse:2.9121
[55]	validation_0-rmse:2.91258
[56]	validation_0-rmse:2.91479
[57]	validation_0-rmse:2.91352
[58]	validation_0-rmse:2.91547
[59]	validation_0-rmse:2.91076
[60]	validation_0-rmse:2.90476
[61]	validation_0-rmse:2.90112
[62]	validation_0-rmse:2.89431
[63]	validation_0-rmse:2.89498
[64]	validation_0-rmse:2.89294
[65]	validation_0-rmse:2.89275
[66]	validation_0-rmse:2.89044
[67]	validation_0-rmse:2.89556
[68]	validation_0-rmse:2.89633
[69]	validation_0-rmse:2.89339
[70]	validation_0-rmse:2.89034
[71]	validation_0-rmse:2.89444
[72]	validation_0-rmse:2.89083
[73]	validation_0-rmse:2.88891
[74]	validation_0-rmse:2.89516
[75]	validation_0-rmse:2.89633
[76]	validation_0-rmse:2.88806
[77]	validation_0-rmse:2.8874
[78]	validation_0-rmse:2.88779
[79]	validation_0-rmse:2.88992
[80]	validation_0-rmse:2.89149
[81]	validation_0-rmse:2.8836
[82]	validation_0-rmse:2.88915
[83]	validation_0-rmse:2.88875
[84]	validation_0-rmse:2.88992
[85]	validation_0-rmse:2.89399
[86]	validation_0-rmse:2.89697
[87]	validation_0-rmse:2.89334
[88]	validation_0-rmse:2.89937
[89]	validation_0-rmse:2.89791
[90]	validation_0-rmse:2.90451
[91]	validation_0-rmse:2.90492
[92]	validation_0-rmse:2.90507
[93]	validation_0-rmse:2.90661
[94]	validation_0-rmse:2.90478
[95]	validation_0-rmse:2.9071
[96]	validation_0-rmse:2.90129
[97]	validation_0-rmse:2.89913
[98]	validation_0-rmse:2.90201
[99]	validation_0-rmse:2.89975
[100]	validation_0-rmse:2.8982
[101]	validation_0-rmse:2.89909
[102]	validation_0-rmse:2.90573
[103]	validation_0-rmse:2.90412
[104]	validation_0-rmse:2.90732
[105]	validation_0-rmse:2.90806
[106]	validation_0-rmse:2.90995
[107]	validation_0-rmse:2.90935
[108]	validation_0-rmse:2.9067
[109]	validation_0-rmse:2.90785
[110]	validation_0-rmse:2.90758
[111]	validation_0-rmse:2.9116
[112]	validation_0-rmse:2.91057
[113]	validation_0-rmse:2.91238
[114]	validation_0-rmse:2.91319
[115]	validation_0-rmse:2.9141
[116]	validation_0-rmse:2.91329
[117]	validation_0-rmse:2.91384
[118]	validation_0-rmse:2.91457
[119]	validation_0-rmse:2.91407
[120]	validation_0-rmse:2.91368
[121]	validation_0-rmse:2.91478
[122]	validation_0-rmse:2.91292
[123]	validation_0-rmse:2.91145
[124]	validation_0-rmse:2.91488
[125]	validation_0-rmse:2.91532
[126]	validation_0-rmse:2.91406
[127]	validation_0-rmse:2.91332
[128]	validation_0-rmse:2.90829
[129]	validation_0-rmse:2.90585
[130]	validation_0-rmse:2.90829
[131]	validation_0-rmse:2.91112
[132]	validation_0-rmse:2.90825
[133]	validation_0-rmse:2.91384
[134]	validation_0-rmse:2.91816
[135]	validation_0-rmse:2.91826
[136]	validation_0-rmse:2.91917
[137]	validation_0-rmse:2.92434
[138]	validation_0-rmse:2.92269
[139]	validation_0-rmse:2.924
[140]	validation_0-rmse:2.92703
[141]	validation_0-rmse:2.92601
[142]	validation_0-rmse:2.92731
[143]	validation_0-rmse:2.92466
[144]	validation_0-rmse:2.92309
[145]	validation_0-rmse:2.92923
[146]	validation_0-rmse:2.92815
[147]	validation_0-rmse:2.93204
[148]	validation_0-rmse:2.93693
[149]	validation_0-rmse:2.93944
[150]	validation_0-rmse:2.93831
[151]	validation_0-rmse:2.93942
[152]	validation_0-rmse:2.94117
[153]	validation_0-rmse:2.93968
[154]	validation_0-rmse:2.93958
[155]	validation_0-rmse:2.93938
[156]	validation_0-rmse:2.94019
[157]	validation_0-rmse:2.94118
[158]	validation_0-rmse:2.94448
[159]	validation_0-rmse:2.94572
[160]	validation_0-rmse:2.94432
[161]	validation_0-rmse:2.94283
[162]	validation_0-rmse:2.94392
[163]	validation_0-rmse:2.94259
[164]	validation_0-rmse:2.95133
[165]	validation_0-rmse:2.9531
[166]	validation_0-rmse:2.94994
[167]	validation_0-rmse:2.94927
[168]	validation_0-rmse:2.95029
[169]	validation_0-rmse:2.94923
[170]	validation_0-rmse:2.94745
[171]	validation_0-rmse:2.94802
[172]	validation_0-rmse:2.94725
[173]	validation_0-rmse:2.94772
[174]	validation_0-rmse:2.94427
[175]	validation_0-rmse:2.945
[176]	validation_0-rmse:2.94696
[177]	validation_0-rmse:2.94866
[178]	validation_0-rmse:2.95655
[179]	validation_0-rmse:2.95546
[180]	validation_0-rmse:2.95711
[181]	validation_0-rmse:2.95576
Stopping. Best iteration:
[81]	validation_0-rmse:2.8836

2.8836006999645467

In [37]:
def grid_search(params, reg=XGBRegressor(objective='reg:squarederror')):
    grid_reg = GridSearchCV(reg, params, scoring='neg_mean_squared_error', cv=kfold)
    grid_reg.fit(X_train_transformed, y_train)
    best_params = grid_reg.best_params_
    print("Best params:", best_params)
    best_score = np.sqrt(-grid_reg.best_score_)
    print("Best score:", best_score)

In [40]:
grid_search(params={'max_depth':[1, 2, 3, 4, 6, 7, 8], 
                    'n_estimators':[81]})

Best params: {'max_depth': 2, 'n_estimators': 81}
Best score: 2.6604321903821004

In [41]:
grid_search(params={'max_depth':[1, 2, 3], 
                    'min_child_weight':[1,2,3,4,5], 
                    'n_estimators':[81]})

Best params: {'max_depth': 2, 'min_child_weight': 2, 'n_estimators': 81}
Best score: 2.6559077820142285

In [42]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[1,2,3],
                    'subsample':[0.5, 0.6, 0.7, 0.8, 0.9],
                   'n_estimators':[81]})

Best params: {'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.7}
Best score: 2.6423712795720418

In [43]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[0.6, 0.7, 0.8], 
                    'colsample_bytree':[0.5, 0.6, 0.7, 0.8, 0.9],
                   'n_estimators':[81]})

Best params: {'colsample_bytree': 0.9, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.7}
Best score: 2.6527794521036774

In [44]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[0.6, 0.7, 0.8, 0.9, 1], 
                    'colsample_bytree':[0.7, 0.8, 0.9, 1],
                   'n_estimators':[81]})

Best params: {'colsample_bytree': 0.8, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.9}
Best score: 2.618594576091804

In [45]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[.9], 
                    'colsample_bytree':[0.8],
                    'colsample_bylevel':[0.6, 0.7, 0.8, 0.9, 1],
                    'colsample_bynode':[0.6, 0.7, 0.8, 0.9, 1],
                    'n_estimators':[81]})

Best params: {'colsample_bylevel': 1, 'colsample_bynode': 1, 'colsample_bytree': 0.8, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.9}
Best score: 2.618594576091804

In [46]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[.9], 
                    'colsample_bytree':[0.8],
                    'gamma':[0, 0.01, 0.1, 0.5, 1, 2, 4],
                    'n_estimators':[81]})

Best params: {'colsample_bytree': 0.8, 'gamma': 2, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.9}
Best score: 2.615705923478648

In [47]:
cross_val(XGBRegressor(max_depth=2,
                       min_child_weight=3,
                       subsample=0.9, 
                       colsample_bytree=0.8, 
                       gamma=2, 
                       objective='reg:squarederror',
                       booster='dart',
                      one_drop=True))

2.6526065969915154

In [48]:
X_test_transformed = data_pipeline.fit_transform(X_test)

In [50]:
model = XGBRegressor(max_depth=2, min_child_weight=3, subsample=0.9, colsample_bytree=0.8, gamma=2, objective='reg:squarederror')
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

2.8329241190042462

In [51]:
model = XGBRegressor(max_depth=2, min_child_weight=4, subsample=0.8, colsample_bytree=0.8, gamma=2, objective='reg:squarederror')
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

2.7528789876854374

In [52]:
full_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix()), ('xgb', XGBRegressor(max_depth=2, min_child_weight=4, subsample=0.8, colsample_bytree=0.8, gamma=2, objective='reg:squarederror'))])